<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_view_project" model="ir.actions.act_window">
        <field name="name">Project</field>
        <field name="res_model">dl.project</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <record id="action_view_paymet" model="ir.actions.act_window">
        <field name="name">Payment</field>
        <field name="res_model">dl.payment</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_view_company" model="ir.actions.act_window">
        <field name="name">Company</field>
        <field name="res_model">dl.company</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem
        id="payment_manager_menu"
        name="Administrador de Pagos"
        action="dl_payment_manager.action_view_project"
    />
    
    <menuitem
        id="project_menu"
        name="Proyectos"
        parent="dl_payment_manager.payment_manager_menu"
        action="dl_payment_manager.action_view_project"
        sequence="1"/>
    
    <menuitem
        id="payment_menu"
        name="Pagos"
        parent="dl_payment_manager.payment_manager_menu"
        action="dl_payment_manager.action_view_paymet"
        sequence="1"/>
    
    <menuitem
        id="company_menu"
        name="Compañia"
        parent="dl_payment_manager.payment_manager_menu"
        action="dl_payment_manager.action_view_company"
        sequence="1"/>

</odoo>
