<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_view_project" model="ir.actions.act_window">
        <field name="name">Project</field>
        <field name="res_model">dl.project</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_view_company" model="ir.actions.act_window">
        <field name="name">Company</field>
        <field name="res_model">dl.company</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.client" id="welcome">
        <field name="name">Dashboard</field>
        <field name="tag">odoo-mercadolibre.welcome</field>
    </record>

    <record id="action_view_employee" model="ir.actions.act_window">
        <field name="name">Employees</field>
        <field name="res_model">hr.employee</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>

    <menuitem
        id="payment_manager_menu"
        name="Administrador de Pagos"
        action="dl_payment_manager.welcome"
    />

    <menuitem 
        name="Dashboard" 
        id="dl-dashboard" 
        parent="dl_payment_manager.payment_manager_menu" 
        action="dl_payment_manager.welcome" 
        sequence="1" />
    
    <menuitem
        id="project_menu"
        name="Proyectos"
        parent="dl_payment_manager.payment_manager_menu"
        action="dl_payment_manager.action_view_project"
        sequence="2"/>
    
    <menuitem
        id="company_menu"
        name="Compañias"
        parent="dl_payment_manager.payment_manager_menu"
        action="dl_payment_manager.action_view_company"
        sequence="4"/>

    <menuitem
        id="employee_menu"
        name="Empleados"
        parent="dl_payment_manager.payment_manager_menu"
        action="dl_payment_manager.action_view_employee"
        sequence="5"/>

</odoo>
